# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Django stuff
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.db

# Environment Variables
.env

# Virtual environment
.venv/
venv/
ENV/
env/

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Migrations (optional, ถ้าไม่อยากแชร์ migration)
**/migrations/*.py
!**/migrations/__init__.py

# Python bytecode
__pycache__/
*.py[cod]

# Virtual env
.venv/

# Env files
.env

# SQLite
*.sqlite3
